# pip install ocean-provider
# is for end users. That will install the packages
# listed in the install_requires list of setup.py.

# pip install -r requirements_dev.txt
# is for the developers of ocean-provider, so doing that should
# install all the Python packages listed
# in the install_requires list of setup.py
# and also the 'dev' list in the extras_require dict

-e .[dev]

pytest~=6.2.4
setuptools~=57.0.0
Werkzeug~=2.0.1
ipaddress~=1.0.23
dnspython~=2.1.0
requests~=2.25.1
Flask~=1.1.2
websockets~=8.1
web3~=5.19.0
coloredlogs~=15.0
PyYAML~=5.4.1
SQLAlchemy~=1.3.23